<mat-card>
    <mat-card-header>
      <mat-card-title>Import/Export de la base JSON</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-section">
        <!-- Importation -->
        <button mat-raised-button color="accent" (click)="fileInput.click()">
          Importer un fichier JSON
        </button>
        <input
          type="file"
          #fileInput
          hidden
          (change)="onImportFile($event, fileInput)"
          accept=".json"
        />
      </div>
  
      <!-- Exportation -->
      <div class="action-section">
        <button mat-raised-button color="primary" (click)="onExportFile()">
          Exporter la base de données
        </button>
      </div>
    </mat-card-content>
  </mat-card>