<mat-card *ngIf="teamRiddle?.riddle" class="enigme-card">
  <mat-card-header>
    <!-- <mat-card-title> -->
    <span class="titre">Énigme en cours</span>
    <span class="spacer"></span>
    <span class="gain"
      ><span *ngIf="teamRiddle?.riddle?.gain !== calculatedGain()" class="gain-initial">{{
        teamRiddle?.riddle?.gain
      }}</span
      ><span class="gain-calculated">{{ calculatedGain() }}</span></span
    ><mat-icon color="yellow">star</mat-icon>
    <!-- </mat-card-title> -->
    <!-- <mat-card-subtitle> pour {{ teamRiddle?.riddle?.gain }} points </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <div class="card-content" [innerHTML]="getHtml()"></div>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <button *ngIf="teamRiddle?.hints?.length" mat-mini-fab color="secondary" (click)="toggleHints.emit()">
      <mat-icon>help</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-mini-fab color="primary" (click)="openSubmitSolutionDialog()" *ngIf="!isSolutionLocked()">
      <mat-icon>lightbulb</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
