.enigme-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1000;
}

.card-content {
  display: flex;
  gap: 5px;
}
mat-card-footer {
  padding: 16px;
  button {
    margin-right: 8px;
  }
}
