.enigme-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1000;

  mat-card-header {
    align-items: center;
    padding-bottom: 8px;
    .titre {
      font-size: 1.4em;
      .optional-count {
        font-size: 0.8em;
      }
    }
    .spacer {
      flex: 1 1 auto;
    }
    .gain {
      font-size: 0.8em;

      .gain-initial {
        text-decoration: line-through;
        // text-decoration-color: grey;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        padding-right: 4px;
      }
    }
    mat-icon {
      color: gold;
    }
  }
  .card-content {
    // display: flex;
    gap: 5px;
    font-size: 0.9em;
  }

  .card-footer {
    display: flex;
    padding: 16px;
    gap: 8px;
    .spacer {
      flex: 1 1 auto;
    }
    .hidden {
      opacity: 0;
    }
  }
}
