.dashboard-map {
  display: flex;
  height: 100%;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  align-items: stretch;

  .unassigned-player {
    width: 100%;
    mat-form-field {
      padding-right: 16px;
    }
  }

  .teams {
    width: 100%;

    .team-name {
      font-size: large;
      font-weight: bold;
    }
  }
}
