.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  align-items: stretch;

  .teams {
    width: 100%;
  }
}

.card {
}

.unassigned-player {
  width: 100%;
  mat-form-field {
    padding-right: 16px;
  }
}

.team {
  flex: 1 0 auto;
}

mat-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.player-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[mat-icon-button] {
  margin-left: 8px; /* Optionnel : espace entre le texte et le bouton */
}

.solution-photo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 4px;
}
