<div class="dashboard-container">
  <!-- Section d'affectation -->
  <div class="card unassigned-player" *ngIf="unassignedPlayer().length > 0">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Joueur à affecter à une équipe</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="assignmentForm" (ngSubmit)="assignPlayerToTeam()">
          <mat-form-field appearance="outline">
            <mat-label>Joueur</mat-label>
            <mat-select formControlName="playerId">
              <mat-option
                *ngFor="let player of unassignedPlayer()"
                [value]="player._id"
              >
                {{ player.username }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Équipe</mat-label>
            <mat-select formControlName="teamId">
              <mat-option *ngFor="let team of teams" [value]="team._id">
                {{ team.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="assignmentForm.invalid"
          >
            Affecter
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Section des équipes -->
  <div class="card team" *ngFor="let team of teams">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ team.name }}</mat-card-title>
        <mat-card-subtitle>
          <span [style.color]="team.color">Couleur : {{ team.color }}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <h4>Joueurs</h4>
        <mat-list>
          <mat-list-item *ngFor="let player of team.players" class="player-row">
            <div class="player-content">
              <div>{{ player.username }}</div>
              <button
                color="warn"
                mat-icon-button
                (click)="removePlayerFromTeam(player._id, team._id)"
              >
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-riddle-form (formSubmitted)="onRiddleSubmit($event)"></app-riddle-form>