<div *ngIf="player">
  <div class="username">
    <span *ngIf="!player.isAdmin">
      {{ player.username }}
    </span>
    <span *ngIf="player.isAdmin" [matMenuTriggerFor]="menuTrigger" class="clickable">
      {{ player.username }}
    </span>
    <mat-menu #menuTrigger="matMenu">
      <button mat-menu-item *ngIf="player.isAdmin" (click)="goToAdmin()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin</span>
      </button>
      <button mat-menu-item *ngIf="player.isAdmin" (click)="simulatePositionUpdate()">
        <mat-icon>explore</mat-icon>
        <span>Simuler Position</span>
      </button>
    </mat-menu>
    <button class="center-button" color="primary" mat-mini-fab *ngIf="player.team" (click)="centerUser()">
      <mat-icon matChipAvatar>my_location</mat-icon>
    </button>
  </div>
  <div class="team-name" *ngIf="!player.team">Attente d'assignation dans une equipe...</div>
  <div class="team-name" *ngIf="player.team" class="team-name">{{ player.team.name }}</div>
  <app-score class="score" *ngIf="player.team" [score]="player.team.score"></app-score>
</div>
