<mat-expansion-panel
  *ngIf="teamRiddle?.riddle"
  [ngClass]="{
    resolved: teamRiddle?.resolved,
    'action-needed': actionNeeded()
  }"
>
  <mat-expansion-panel-header>
    <mat-panel-title class="riddle-text">{{
      teamRiddle?.riddle?.text
    }}</mat-panel-title>
    <mat-icon class="icon-resolved" title="Résolue">check</mat-icon>
    <mat-icon class="icon-not-resolved" title="Non résolue">close</mat-icon>
    <mat-icon class="icon-action-needed" title="Action nécessaire"
      >priority_high</mat-icon
    >
  </mat-expansion-panel-header>
  <app-admin-solutions [solutions]="teamRiddle?.solutions"></app-admin-solutions>
</mat-expansion-panel>
