.mat-content {
  align-items: center;
}

.riddle-title {
  font-size: large;
  .optional {
    padding-left: 2em;
    font-size: 0.7em;
  }
}
.team-name {
  font-weight: 600;
}

button {
  margin-right: 16px;
  align-self: center;
}

mat-icon {
  align-self: center;
}

.icon-not-resolved {
  color: grey;
  padding-right: 16px;
}
.icon-resolved {
  color: green;
  display: none;
  padding-right: 16px;
}
.resolved {
  background-color: lightgray;
  .icon-not-resolved {
    display: none;
  }
  .icon-resolved {
    display: block;
  }
}

.icon-action-needed {
  color: red;
  padding-right: 16px;
  opacity: 0;
  // display: none;
}
.action-needed .icon-action-needed {
  opacity: 1;
}

.riddle-description {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.riddle-photo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.teams {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    .name {
      flex: 1;
    }
    .order {
      width: 7em;
      padding-left: 1em;
    }
  }
}
